:root {
  font-size: 16px;
  font-family: "Open Sans";
  --text-primary: #fbfbfb;
  --text-secondary: #ececec;
  --bg-primary: #23232e;
  --bg-secondary: #141418;
  --bg-main: #89a8d3;
  --transition-speed: 600ms;
  --button-sucess: #22eb4a;
  --button-primary: #22eb4a;
}

body {
  color: black;
  background-color: var(--bg-main);
  margin: 0;
  padding: 0;
}

body::-webkit-scrollbar {
  width: 0.25rem;
}

body::-webkit-scrollbar-track {
  background: #1e1e24;
}

body::-webkit-scrollbar-thumb {
  background: #6649b8;
}

main {
  margin-left: 14rem;
}

.navbar {
  position: fixed;
  background-color: var(--bg-primary);
  transition: width 500ms ease;
  overflow: none;
}

.navbar-nav {
  list-style: none;
  padding: 0;
  margin: 0;
  display: flex;
  flex-direction: column;
  align-items: center;
  height: 100%;
}

.nav-item {
  width: 100%;
}

.nav-item:last-child {
  margin-top: auto;
}

.nav-item:hover {
  background-color: rgb(66, 106, 250);
}

.nav-link {
  display: flex;
  align-items: center;
  justify-content: center;
  height: 5rem;
  color: var(--text-primary);
  text-decoration: none;
  filter: grayscale(100%) opacity(0.7);
  transition: var(--transition-speed);
}

.logo {
  font-weight: bold;
  text-transform: uppercase;
  margin-bottom: 1rem;
  text-align: center;
  color: var(--text-secondary);
  background: var(--bg-secondary);
  font-size: 1.5rem;
  letter-spacing: 0.3ch;
  width: 100%;
}

/* Small screens */
@media only screen and (max-width: 600px) {
  .navbar {
    bottom: 0;
    width: 100vw;
    height: 5rem;
  }

  .logo {
    display: none;
  }

  .navbar-nav {
    flex-direction: row;
  }

  .nav-link {
    justify-content: center;
  }

  main {
    margin: 0;
  }

  .notFoundSvg {
    width: 200px;
  }
}

/* Large screens */
@media only screen and (min-width: 600px) {
  .navbar {
    top: 0;
    width: 14rem;
    height: 100vh;
    justify-content: center;
  }

  .navbar:hover .link-text {
    display: inline;
  }
}

/*------------------------------------------------------- Not Found Css ------------------------------------- */

.notFoundContainer {
  display: flex;
  background-color: lightpink;
  flex-direction: column;
  text-align: center;
  justify-items: center;
  align-items: center;
  height: 100vh;
}

#svgNotFound {
  background-color: var(--bg-secondary);
}

.notFoundFour,
.notFoundZero {
  stroke-width: 4px;
  stroke: white;
}

.notFoundFour {
  stroke-dasharray: 970px;
  animation: numFour-anim 2.5s ease-in both;
}

.notFoundZero {
  stroke-dasharray: 860px;
  animation: numFour-anim 2.5s ease-in both;
}

@keyframes numFour-anim {
  0% {
    stroke-dashoffset: 970px;
    fill: none;
  }

  45% {
    stroke: black;
  }
  97% {
    fill: none;
  }
}

.btn {
  box-sizing: border-box;
  background-color: transparent;
  border: 2px solid var(--button-primary);
  border-radius: 0.6em;
  color: var(--button-sucess);
  cursor: pointer;
  display: flex;
  align-self: center;
  font-size: 1rem;
  font-weight: 400;
  line-height: 1;
  margin: 20px;
  padding: 1.2em 2.8em;
  text-decoration: none !important;
  text-align: center;
  text-transform: uppercase;
  font-family: "Montserrat", sans-serif;
  font-weight: 700;
}

.btn:hover {
  color: #fff;
  outline: 0;
}
.btn:focus {
  color: #fff;
  outline: 0;
}

.notFoundButton,
.signInButton {
  transition: box-shadow 300ms ease-in-out, color 300ms ease-in-out;
  text-decoration: none;
}

.notFoundButton:hover,
.signInButton:hover {
  box-shadow: 0 0 40px 40px var(--button-primary) inset;
}

a:visited {
  text-decoration: none;
  color: whitesmoke;
}

.Link {
  text-decoration: none !important;
}

/*------------------------------------------------------- Home page Css ------------------------------------- */

.homeContainer {
  display: flex;
  background-color: var(--bg-main);
  flex-direction: column;
  text-align: center;
  justify-items: center;
  align-items: center;
  height: 100vh;
}

/*------------------------------------------------------- Sign In page Css ------------------------------------- */

button {
  border-radius: 20px;
  border: 1px solid #ff4b2b;
  background-color: #ff4b2b;
  color: #ffffff;
  font-size: 12px;
  font-weight: bold;
  padding: 12px 45px;
  letter-spacing: 1px;
  text-transform: uppercase;
  transition: transform 80ms ease-in;
}

button:active {
  transform: scale(0.95);
}

button:focus {
  outline: none;
}

button.ghost {
  background-color: transparent;
  border-color: #ffffff;
}

form {
  background-color: #ffffff;
  display: flex;
  align-items: center;
  justify-content: center;
  flex-direction: column;
  padding: 0 50px;
  height: 100%;
  text-align: center;
}

input {
  background-color: #eee;
  border: none;
  padding: 12px 15px;
  margin: 8px 0;
  width: 100%;
}

.container {
  background-color: #ffffff;
  border-radius: 10px;
  box-shadow: 0 14px 28px rgba(0, 0, 0, 0.25), 0 10px 10px rgba(0, 0, 0, 0.22);
  position: relative;
  overflow: hidden;
  width: 100vw;
  max-width: 100%;
  min-height: 100vh;
}

.form-container {
  position: absolute;
  top: 0;
  height: 100%;
  transition: all 0.6s ease-in-out;
}

.sign-in-container {
  left: 0;
  width: 50%;
  z-index: 2;
}
.overlay-container {
  position: absolute;
  top: 0;
  left: 50%;
  width: 100%;
  height: 100%;
  overflow: hidden;
  transition: transform 0.6s ease-in-out;
  z-index: 100;
}

.overlay {
  background: #ff416c;
  background: -webkit-linear-gradient(to right, #ff4b2b, #ff416c);
  background: linear-gradient(to right, #ff4b2b, #ff416c);
  background-repeat: no-repeat;
  background-size: cover;
  background-position: 0 0;
  color: #ffffff;
  position: relative;
  left: -100%;
  height: 100%;
  width: 200%;
  transform: translateX(0);
  transition: transform 0.6s ease-in-out;
}

.overlay-panel {
  position: absolute;
  display: flex;
  align-items: center;
  justify-content: center;
  flex-direction: column;
  padding: 0 40px;
  text-align: center;
  top: 0;
  height: 100%;
  width: 50%;
  transform: translateX(0);
  transition: transform 0.6s ease-in-out;
}
